@charset "UTF-8";

/*.bg-color-blue {background: #464646;}
.bg-color-light-blue {background: #fff;}
main {background: #ececec;}*/

/*.bg-color-blue {background: #15ae8d;}
.bg-color-light-blue {background: #fff;}
main {background: #ececec;}*/