<!doctype html >
<html lang="en">

<head>
 <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=9">
<link rel="stylesheet" href="/client/assets/css/lib/icomoon/icomoon.css">
<link rel="stylesheet" href="/client/assets/css/lib/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/client/assets/css/lib/nv.d3.css">
<link rel="stylesheet" href="/client/assets/css/lib/resCarousel.css">
<link rel="stylesheet" href="/client/assets/css/lib/angular-gridster.min.css">
<link rel="stylesheet" href="/client/assets/css/lib/smart_wizard.css">
<link rel="stylesheet" href="/client/assets/css/lib/angular-busy.css">
<link rel="stylesheet" href="/client/assets/css/lib/dhtmlxscheduler.css">
<link rel="stylesheet" href="/client/assets/css/lib/select.css">
<link rel="stylesheet" href="/client/assets/css/lib/selectize.default.css">
<link rel="stylesheet" href="/client/assets/css/lib/select2.css">
<link rel="stylesheet" href="/client/assets/css/lib/rzslider.css">
<link rel="stylesheet" href="/client/assets/css/lib/tablecellsselection.css">
<link rel="stylesheet" href="/client/assets/css/lib/toaster.css">
<link rel="stylesheet" href="/client/assets/css/lib/ag-grid.css">
<link rel="stylesheet" href="/client/assets/css/lib/ag-theme-balham.css">
<link rel="stylesheet" href="/client/assets/css/red.css">   

<!-- carousel -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
<!-- <link rel="stylesheet" href="/client/assets/css/lib/slick.min.css">
<link rel="stylesheet" href="/client/assets/css/lib/slick-theme.min.css"> -->
<link rel="stylesheet" href="/client/assets/css/custom.css">

    <title>IOT :: Home</title>
</head>

<body ng-app="myApp" ng-cloak>
    <!-- ======================= Header Ended ================================= -->
    <!-- Begin page content -->
    <div ui-view ></div>

    <!-- Optional JavaScript -->
    <script src="/client/assets/js/lib/jquery.min.js"></script>
    <script src="/client/assets/js/lib/angular.min.js"></script>
    <script src="/client/assets/js/lib/angular-route.js"></script>
    <script src="/client/assets/js/lib/angular-ui-router.js"></script>
    <script src="/client/assets/js/lib/angular-animate.js"></script>
    <script src="/client/assets/js/lib/angular-ui-utils.min.js"></script>
    <script src="/client/assets/js/lib/angular-count-to.js"></script>
    <script src="/client/assets/js/lib/ag-grid-enterprise.js"></script>
    <script src="/client/assets/js/lib/ui-bootstrap-tpls.min.js"></script>
    <script src="/client/assets/js/lib/angular.fullscreen.min.js"></script>
    <script src="/client/assets/js/lib/angular-drag-and-drop-lists.js"></script>
    <script src="/client/assets/js/lib/angular-sanitize.js"></script>
    <script src="/client/assets/js/lib/select.js"></script>
    <script src="/client/assets/js/lib/rzslider.js"></script>
    <script src="/client/assets/js/lib/d3.js"></script>
    <script src="/client/assets/js/lib/angular-nvd3.js"></script>
    <script src="/client/assets/js/lib/nv.d3.js"></script>
    <script src="/client/assets/js/lib/toaster.js"></script>
    <script src="/client/assets/js/lib/angular-busy.js"></script>
    <script src="/client/assets/js/lib/ng-file-upload-shim.js"></script>
    <script src="/client/assets/js/lib/ng-file-upload.js"></script>
    <script src="/client/assets/js/lib/angularjs-datetime-picker.js"></script>
    <script src="/client/assets/js/lib/moment.js"></script>
    <script src="/client/assets/js/lib/angular-moment.js"></script>
    <script src="/client/assets/js/lib/angular-gridster.js"></script>
    <script src="/client/controller/app.js"></script>
    <script src="/client/controller/login/loginCtrl.js"></script>
    <script src="/client/controller/dashboard/dashboardCtrl.js"></script>
    <script src="/client/controller/container/containerCtrl.js"></script>
    <script src="/client/assets/js/lib/underscore-min.js"></script>
    <script src="/client/assets/js/lib/markerclusterer.js"></script>
    <script src="/client/assets/js/lib/dhtmlxscheduler.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwEsdtIIzk29v8DvxctDmbgbhHCkj9iNs&libraries=drawing&libraries=visualization"></script>
    <script src="/client/assets/js/lib/sweetalert.js"></script>
    <script src="/client/assets/js/lib/popper.min.js"></script>
    <script src="/client/assets/js/lib/bootstrap.min.js"></script>
    <script src="/client/assets/js/lib/validator.min.js"></script>
    <script src="/client/assets/js/lib/jquery.easing.min.js"></script>
    <script src="/client/assets/js/lib/jquery.fullscreen.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@aspnet/signalr@1.0.3/dist/browser/signalr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script> 
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="/client/assets/js/canvas2image.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvg/1.5/canvg.js"></script>
    <script src="/client/assets/js/saveSvgAsPng.js"></script>
    <script src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <script src="/client/assets/js/lib/angular-slick.js"></script>
</html>